@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-auto {
    width: 100% !important;
    ;
  }

  .w-sm-40 {
    width: 40% !important;
  }

  .w-sm-30 {
    width: 30% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .fw-bolder {
    font-weight: 900 !important;
  }

  .svg-size {
    height: 80px;
  }

  .border-sm-20 {
    border-radius: 20px;
  }

  .btn {
    padding: 18px 50px;
  }

  .btn-primary {

    font-size: medium;
  }

  .btn-outline-primary {
    font-size: medium;
  }

  .btn-outline-secondary {

    font-size: medium;
  }

  .swiper-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 70%;
  }

  .swiper-info-btn {
    position: absolute;
    bottom: 0;
    left: 70%;
    right: 0;
    top: 90%;
  }

  .swiper-info {
    padding: 40px 40px 40px 20%;
    border-radius: 0 10px 10px 0;
  }

  .swiper-info-line {
    width: 10%;
    height: 2px;
    margin-top: 20px;
  }

  .swiper-info-text h1 {
    font-size: 30px;
  }

  .swiper-info-text p {
    font-size: 16px;
  }

  .svg-size-2 {
    height: 70px;
  }

  .numbers-size {
    font-size: 2rem
  }

  .swiper-info {
    padding: 30px 40px 6px 20%;
    border-radius: 0 15px 15px 0;
  }

  .swiper-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 50%;
  }

  .swiper-info-text h1 {
    font-size: 32px;
    font-weight: 900;
  }

  .swiper-info-text p {
    padding-top: 10px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-auto {
    width: 100% !important;
    ;
  }

  .w-md-40 {
    width: 40% !important;
  }

  .w-md-30 {
    width: 30% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .border-md-20 {
    border-radius: 20px;
  }

  .h-800 {
    height: 100%;
  }

  .h-fixed-200 {
    height: 100% !important;
  }

  .h-fixed-300 {
    height: 100% !important;
  }

  .swiper-info {
    padding: 30px 40px 6px 20%;
    border-radius: 0;
  }

  .swiper-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 64%;
  }

  .swiper-info-text h1 {
    font-size: 30px;
    font-weight: 900;
  }

  .swiper-info-text p {
    padding-top: 10px;
    font-size: 16px;
  }

  .left-image-position {
    max-width: 40% !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 11%;
  }

  .right-image-position {
    max-width: 40% !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-40 {
    width: 40% !important;
  }

  .w-lg-30 {
    width: 30% !important;
  }

  .w-lg-55 {
    width: 55% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-auto {
    width: 100% !important;
    ;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }

  .h-400 {
    height: 400px !important;
  }

  .h-600-resopnsive {
    height: 600px !important;
  }

  .min-h-100 {
    min-height: 180px !important;
  }

  .right-image-position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
  }

  .page-title {
    background-image: url("../assets/camion-carriere-sjl-afrique-europe.jpg");
    min-height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 40px 50px;
  }

  .absolute {
    position: absolute;
  }

  /* .mt-200 {
    margin-top: 500px;
  } */

  .header {
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 200px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }

  .header.shrink {
    height: 100px;
    /* line-height: 80px; */
  }

  .h-screen {
    height: 100vh !important;
  }

  .border-lg-20 {
    border-radius: 20px;
  }

  .line {
    width: 3%;
    height: 3px;
    margin-top: 25px;
  }

  .me-lg-6 {
    margin-right: 110px !important;
  }

  .logo {
    height: 80px;
  }

  .fs-7 {
    font-size: 16px;
  }

  .fs-8 {
    font-size: 17px;
  }

  .svg-size {
    height: 100px;
  }

  .svg-size-2 {
    height: 100px;
  }


  .swiper-info-btn {
    position: absolute;
    bottom: 0;
    left: 76%;
    right: 0;
    top: 94%;
  }

  .swiper-info {
    padding: 30px 40px 6px 20%;
    border-radius: 0 15px 15px 0;
  }

  .swiper-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 80%;
  }

  .swiper-info-text h1 {
    font-size: 32px;
    font-weight: 900;
  }

  .swiper-info-text p {
    padding-top: 10px;
    font-size: 16px;
  }

  .scale-1:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
    border-radius: 20px;
    box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    z-index: 3;
  }

  .hover-shadow:hover {
    border-radius: 20px;
    box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.445);
    -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.466);
    transition: all ease-in-out 300ms;
  }

  .scale-2:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
    box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
    z-index: 3;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-40 {
    width: 40% !important;
  }

  .w-xl-30 {
    width: 30% !important;
  }

  .w-xl-55 {
    width: 75% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-auto {
    width: 100% !important;
    ;
  }

  .logo {
    height: 90px;
  }

  .border-xl-20 {
    border-radius: 20px;
  }

  .svg-size-2 {
    height: 110px;
  }

  .numbers-size {
    font-size: 3rem
  }

  .h-650 {
    height: 600px !important;
  }

  .rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .mr-10 {
    margin-right: 10% !important;
  }

  .ml-10 {
    margin-left: 10% !important;
  }

  .swiper-info {
    padding: 40px 40px 6px 20%;
    border-radius: 0 15px 15px 0;
  }


  .swiper-info-text h1 {
    font-size: 34px;
    font-weight: 900;
  }

  .swiper-info-text p {
    padding-top: 10px;
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .w-xxl-25 {
    width: 25% !important;
  }

  .w-xxl-auto {
    width: 100% !important;
    ;
  }

  .w-xxl-40 {
    width: 40% !important;
  }

  .w-xxl-30 {
    width: 30% !important;
  }

  .w-xxl-50 {
    width: 50% !important;
  }

  .w-xxl-75 {
    width: 75% !important;
  }

  .w-xxl-100 {
    width: 100% !important;
  }

  .border-xxl-20 {
    border-radius: 20px;
  }

  .logo {
    height: 100px;
  }

  .swiper-info {
    padding: 40px 40px 6px 20%;
    border-radius: 0 15px 15px 0;
  }



  .swiper-info-text h1 {
    font-size: 34px;
    font-weight: 900;
  }

  .swiper-info-text p {
    padding-top: 10px;
    font-size: 16px;
  }

  .svg-size-2 {
    height: 140px;
  }

  .numbers-size {
    font-size: 4rem
  }

  .fs-8 {
    font-size: 18px;
  }
}